        <header>
            <nav>
                <ul>
                    <li><a href="/">Siʃii</a></li>
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/build">Build</a></li>
                </ul>
            </nav>
        </header>
<h1>Explore</h1>