        <header>
            <nav>
                <ul>
                    <li><a href="/">Siƒii</a></li>
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/build">Build</a></li>
                </ul>
            </nav>
        </header>
<h1>Explore</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets</span></a> on TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
  {
  "symbols": [
    [
      "NASDAQ:NDX|1D"
    ],
    [
      "BLACKBULL:SPX500|1D"
    ],
    [
      "SPREADEX:CAC|1D"
    ],
    [
      "XETR:DAX|1D"
    ],
    [
      "SPREADEX:NIKKEI|1D"
    ]
  ],
  "chartOnly": false,
  "width": 1000,
  "height": 500,
  "locale": "en",
  "colorTheme": "dark",
  "autosize": false,
  "showVolume": false,
  "showMA": false,
  "hideDateRanges": false,
  "hideMarketStatus": false,
  "hideSymbolLogo": false,
  "scalePosition": "right",
  "scaleMode": "Normal",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "fontSize": "10",
  "noTimeScale": false,
  "valuesTracking": "1",
  "changeMode": "price-and-percent",
  "chartType": "area",
  "maLineColor": "#2962FF",
  "maLineWidth": 1,
  "maLength": 9,
  "lineWidth": 2,
  "lineType": 0
}
  </script>
</div>
<!-- TradingView Widget END -->