<div id="accroche">
  <div class="titre">
    <h1>The Simply ƒinance.</h1>
    <p id="slogan">Unlock your financial potential: Explore, learn, and travel
      in tradfi with our user-friendly finance platform designed for everyone</p>
  </div>
</div>

<section class="explore">
  <div class="textMain">
    <h2>Explore the world of finance and track inflation with ease - your
      journey starts here!</h2>

    <p>
      Discover our apps and services, powered by Google Finance. This
      cutting-edge solution allows you to effortlessly track assets and data
      globally, helping you better navigate the economic landscape.
    </p>

    <div id="container">
      <a href="/explore">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">explore</span>
        </button>
      </a>
    </div>

    <br />

    <div id="container">
      <a href="/signup">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">∫ign Up</span>
        </button>
      </a>
    </div>

  </div>
</section>

<section id="learn">
  <div class="textMain">
    <h2>Learn: the galaxy of Economie</h2>

    <p>
      Learn about macro and microeconomics, to become your own analyst, and take
      control of your financial destiny. Demystify monetary creation, unravel
      the true meaning of inflation, and uncover the inner workings of banks.
    </p>

    <div id="container">
      <a href="/learn">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">learn</span>
        </button>
      </a>
    </div>

  </div>
</section>

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css" />
<h1 id="anim">
  <em>s</em>
  <em class="planet left">ƒ</em>
  <em>i</em>
  <em>ƒ</em>
  <em class="planet right">ƒ</em>
  <em>ii</em>
</h1>

<section id="build">
  <h2>Build your financial strategy</h2>
  <p>
    The Siƒii project is the foundation of the new era of economy. Join a
    fast-growing team and built your futur secure and stable financial
    foundation.
  </p>
  <div id="textMain">
    <div class="col1">

      <span>
        <h3>Financial Crisis Survival Kit</h3>
        A free guide on proven investment strategies to help you contemplate your
        financial wealth management strategy.
      </span>
    </div>

    <div class="col2">
      <span>
        <h3>Financial tool</h3>
        Market heat map, inflation tracker, team work. Just do it. Revolutionize
        your financial analysis: Dive into a world of powerful tools and insights
        designed to help you make smarter investment decisions with confidence!
      </span>


    </div>

  </div>
  <div id="container">
    <a href="/build">
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">build</span>
      </button>
    </a>
  </div>
</section>

<footer>
  <div>
    <ul>
      <li>Channels</li>
      <li>Engagement</li>
      <li>Scale</li>
      <li>Watch the Demo</li>
    </ul>

    <ul>
      <li class="Ul-h1">PRODUCT</li>
      <li>Features</li>
      <li>Integrations</li>
    </ul>

    <ul>
      <li class="Ul-h1">COMPANY</li>
      <li>About Us</li>
      <li>Leadership</li>
      <li>Investor Relations</li>
      <li>News</li>
      <li>Media Kit</li>
      <li>Careers</li>
    </ul>

    <hr />

    <ul class="link">

      <li>Contact Us</li>
      <li><a href="/user">User</a></li>
    </ul>
  </div>
</footer>

<script src="/script.js"></script>