<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <link rel="stylesheet" href="/stylesheet/button.css" />
    <link rel="stylesheet" href="/stylesheet/form.css" />
    <link rel="stylesheet" href="/stylesheet/anim.css" />

    <title>Siʃii</title>
  </head>
  <body>
    <!-- Header BEGIN -->
    <header>
      <nav>
        <a href="/">Siƒii</a>
        <ul>
          <li><a href="/explore">Explore</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/build">Build</a></li>
        </ul>
        <span><a href="/login">LogIn</a> ⋮ <a href="/signup">SignUp</a></span>
      </nav>
    </header>
    <!-- Header END -->

    {{{body}}}
  </body>
</html>