        <header>
            <nav>
                <ul>
                    <li><a href="/">Siƒii</a></li>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/build">Build</a></li>
                </ul>
            </nav>
        </header>
    
<h1>Learn</h1>